---
layout: page
# The Video layout
---

{% include lang.html %}

<div id="page-video">

    <p>Check the playlist dropdown (top right of YouTube screens) for the latest content.</p>

    <h2>Famous unofficial <a href="https://www.youtube.com/c/SAPonAzure" target="_blank">SAP + Microsoft</a>YouTube Channel</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/?list=PLvqyDwoCkBXYCm7_CNLavXHmdZD6rEvNn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Equally interesting feed by Christian Lechner (Azure MVP and architect at SAP SE) called <a href="https://github.com/lechnerc77/myNewsWrap#overview-of-episodes---season-2-news-only" target="_blank">myNewsWrap</a> on SAP + Microsoft from a developer perspective</h2>

    <h2>Azure Friday session on SAP extension scenarios</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/72kbjv0GJAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Microsoft Power Automate - SAP Deep-Dive series</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLi9EhCY4z99W9D8zAMd0Ej5kNOI_4mfkC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>A hitchhiker's guide to Microsoft Teams and SAP Integration</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLvqyDwoCkBXZ85LoFrNWv9Mj88TiDAc4g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2><a href="https://aka.ms/SAPonMSFT" target="_blank">SAP on Microsoft Labs</a> by Alexandre</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLkP2IANHFwhaEowIbQ-a51_E5Sqb-xrz-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2><a href="https://www.youtube.com/watch?v=b-AZnR-nQpg" target="_blank">SAP Security with Microsoft Sentinel's SOAR Capabilities</a> by Martin Pankraz</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=b-AZnR-nQpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>