---
layout: page
# The Video layout
---

{% include lang.html %}

<div id="page-video">

    <p>Check the playlist dropdown (top right of YouTube screens) for the latest content.</p>

    <h2>Famous unofficial <a href="https://www.youtube.com/c/SAPonAzure">SAP + Microsoft</a>YouTube Channel</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/?list=PLvqyDwoCkBXYCm7_CNLavXHmdZD6rEvNn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Equally interesting webcast called <a href="https://www.youtube.com/playlist?list=PLmZLSvJAm8Fb3S4T9JWgwm0klLI8uc-ka">myNewsWrap</a> on SAP + Microsoft from a developer perspective</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLmZLSvJAm8Fb3S4T9JWgwm0klLI8uc-ka" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Azure Friday session on SAP extension scenarios</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/72kbjv0GJAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Microsoft Power Automate - SAP Deep-Dive series</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLi9EhCY4z99W9D8zAMd0Ej5kNOI_4mfkC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>